/.vscode
/custom.ipynb
/EDA.ipynb
/extract.sql
/postgres.session.sql
/python-personalization.ipynb
/skill_a.ipynb
/skill_analysis.ipynb
/Skill_demand.ipynb
/sql_course.session.sql
/SQL_practice
/time_zone.sql
/Untitled-1.ipynb
/Untitled.ipynb